[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KOR.addrlink"]
	path = KOR.addrlink
	url = https://github.com/cran/KOR.addrlink
